* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.hero {
    background-color: #1F2937;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #F9FAF8;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
}

.nav-item a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 1.125rem;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    padding: 3em 1em;
}

.hero-cta {
    width: 45%;
}

.hero-title {
    font-size: 3rem;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text {
    color: #E5E7EB;
    font-size: 1.125rem;
}

.btn {
    background-color: #3882F6;
    padding: 0.5em 2em;
    font-family: inherit;
    font-size: 1.125rem;
    font-weight: 700;
    color: #F9FAF8;
    border: none;
    border-radius: 0.5em;
    

}

.hero-img {
    width: 45%;
    flex: 0 1 auto;
}