* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.hero {
    background-color: #1F2937;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #F9FAF8;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
}

.nav-item a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 1.125rem;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    padding: 5em 1em;
}

.hero-cta {
    width: 45%;
}

.hero-title {
    font-size: 3rem;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text {
    color: #E5E7EB;
    font-size: 1.125rem;
}

.btn {
    background-color: #3882f6;
    padding: 0.5em 2em;
    font-family: inherit;
    font-size: 1.125rem;
    font-weight: 700;
    color: #F9FAF8;
    border: none;
    border-radius: 0.5em;
    

}

.hero-img {
    width: 45%;
    flex: 0 1 auto;
}

.light-bg {
    background-color: #FFFFFF;
}

.latest-title {
    text-align: center;
    color: #1F2937;
    font-size: 2.25rem;
    font-weight: 900;
    margin-top: 2em;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    /* gap: 1em; */
    padding: 2em 1em 4em;
}

.card {
    width: 200px;
    text-align: center;
}

.card img {
    width: 200px;
    height: 200px;
    border: 4px solid #3882f6;
    border-radius: 1em;
}

.card-text {
    color:#1F2937;
    font-size: 1.125em;
}

.quote-bg {
    background-color: #E5E7EB;
}

.quote {
    padding: 4em 3em;
}

.quote-text {
    color: #1F2937;
    font-size: 2.25rem;
    font-weight: 300;
    font-style: italic;
}

.quote-name {
    font-size: 1.125rem;
    font-weight: 700;
    text-align: right;
    margin-right: 2em;
}

.cta {
    background-color: #3882f6;
    color: #F9FAF8;
    margin: 4em 1em;
    border-radius: 0.5em;
    padding: 1.5em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin: 5em 1em
}

.btn-border {
    border: 2px solid #F9FAF8;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    font-size: 1.125em;
    padding: 1em;
}